<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsule Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="capsule-container">
        <h1>Capsule Protocol</h1>
        <p class="subtitle">Secure Data for Transmission</p>
        
        <form action="{{ url_for('submit_capsule') }}" method="post" enctype="multipart/form-data">
            <label for="capsule-message">Data Stream (Message):</label>
            <textarea id="capsule-message" name="capsule_message" rows="4" required></textarea>
            
            <label for="capsule-file">Attachment (Optional):</label>
            <input type="file" id="capsule-file" name="capsule_file">

            <label for="recipient-email">Target Node (Email):</label>
            <input type="email" id="recipient-email" name="recipient_email" required>

            <label for="open-date">Activation Time (Date & Clock):</label>
            <input type="datetime-local" id="open-date" name="open_date" required>

            <input type="submit" value="Lock Capsule">
        </form>
        
        <a href="{{ url_for('home') }}">[ Terminate Session ]</a>
    </div>
   <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>